.typhoon-side-nav--wrap {
  // flex: 0 0 230px;
  border-right: 1px solid $red-800;
  z-index: 1;

  @include bp(sm) {
    flex: 0 0 100%;
    border: none;
    position: relative;
    z-index: 2;
  }
}

.typhoon-side-nav {
  position: fixed;
  width: 230px;
  border-right: 1px solid $red-800;

  @include bp(sm) {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: auto;
    width: 100%;
  }
}

.typhoon-side-nav--mobile {
  position: relative;
  text-decoration: none;
  background: transparent;
  transition: color 0.3s ease;
  display: none;

  @include bp(med) {
  }

  @include bp(sm) {
    display: inline-block;
    align-self: flex-end;
  }

  .typhoon-mobile-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: rem(26);
    width: $space-2xl;

    .top,
    .middle,
    .bottom {
      display: block;
      width: 90%;
      height: 4px;
      margin: 0 auto;
      border-radius: $br8;
    }

    &:hover {
      color: $red-700;
    }
  }
}

.typhoon-side-menu--wrap {
  @include bp(sm) {
    position: relative;
    overflow: hidden;
  }
}

.typhoon-side-nav--list {
  @include bp(sm) {
    &:first-of-type {
      margin-top: $space-sm;
    }

    &:last-of-type {
      margin-bottom: $space-lg;
    }
  }
}

.typhoon-side-nav--item {
  display: flex;
  flex-direction: column;
  height: $space-2xl;

  @include bp(sm) {
    height: $space-3xl;
  }
}

.typhoon-side-nav--link {
  display: flex;
  align-items: center;
  line-height: 2;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: $fs-md;
  font-weight: 600;
  color: $text-color;

  span {
    vertical-align: middle;
  }
}

.typhoon-side-nav--main-page {
  .js-current &,
  &:hover {
    position: relative;
    background-color: $red-500;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: $space-2xs;
      background-color: $yellow-500;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      top: 0;
      right: 0;
    }
  }
}

.typhoon-side-nav--main-link {
  position: relative;

  &::after {
    @include vert_center;
    content: '\f078';
    font-family: 'FontAwesome';
    right: 0;
    color: $white;
    font-size: $fs-sm;

    .js-current & {
      // color: $yellow-300;
      transform-origin: center;
      transform: translateY(-50%) rotate(0.5turn);
    }
  }
}

.typhoon-side-nav--sub-page {
  display: none;

  &:hover {
    background-color: $red-500;
  }

  .js-current & {
    display: block;
  }
}

.typhoon-side-nav--sub-link {
  font-weight: 400;
}
