// .typhoon-overview--wrap {
//   margin: 0 rem(-15);
//   padding-left: rem(15);
//   padding-right: rem(15);
// }

.tyhpoon-overview-overlap {
  margin-top: -$space-5xl;
  // max-width: 1250px;
}

.typhoon-overview-text--wrap {
  // padding-left: rem(48);
  // padding-right: rem(48);
  padding: 0 $space-2xl 0;
  max-width: 1200px;
}
