$side-nav-main-height: $space-3xl; // nav-height in pixels
$side-nav-links: $red-500;


.lib-side-nav {
  // display: grid;
  // margin: auto;
}

.lib-side-nav--list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  list-style-type: none;
}

.lib-side-nav--item {

  .lib-side-nav--link {
    display: block;
    height: $side-nav-main-height;
    padding: 0 $space-2xl;
    line-height: $side-nav-main-height;
    // transition: background-color ease 0.3s, color ease 0.3s;
    position: relative;

    &::before,
    &::after {
      display: none;
      content: '';
      position: absolute;
      height: 100%;
      width: $space-2xs;
      background-color: $yellow-500;
      top: 0;
    }

    &::before {
      right: 0;
    }

    &::after {
      left: 0;
    }

    &:hover {
      color: $white;
      background-color: $red-500;

      &::before,
      &::after {
        display: block
      }
    }
  }
}

.lib-sub-list--item {
  .lib-side-nav--link {
    height: $side-nav-main-height;
    line-height: $side-nav-main-height;
    color: $text-color;

    &:hover,
    &:focus {
      background-color: $red-500;
      color: $white;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}


.lib-side-nav--sub-list {
  list-style-type: none;

  .lib-side-nav--link {
    display: block;
    overflow: hidden;
    font-size: $fs-md;
    font-weight: 400;

    &::after {
      @include vert_center;
      content: "\f054";
      font-family: "Fontawesome";
      background-color: transparent;
      left: -1rem;
      height: auto;
      bottom: unset;
      transition: left ease 0.3s;
    }

    // &:hover {
    //   color: $red-500;

    //   &::after {
    //     left: 0;
    //   }
    // }
  }

  .is-active {
    color: $red-500;

    &::after {
      left: 0;
    }
  }
}
