{# <div>
  <div>{{ page.secondary_menu }}</div>
  <div>{{ page.primary_menu }}</div>
</div> #}

  <div class="lib-util-nav--wrap lib-bg-red-600">
    <div class="lib-util-nav lib-px-3xl">
      <div class="triangles"></div>
      <ul class="lib-util-nav--list">
        <li class="lib-text-white"><a href="#">Staff Directory</a></li>
        <li class="lib-text-white"><a href="#">Forms</a></li>
        <li class="lib-text-white"><a href="#">IT Support</a></li>
        {{page.utility_menu}}
      </ul>
    </div>
  </div>
  <div class="lib-main-nav--wrap lib-px-3xl">
    <div class="lib-main-nav">
      <div class="logo-wrap">
        <div class="logo">
          <a href="/"><img src="/sites/default/files/ISU Library Logo_Left_red-500.png" alt="ISU Library Logo"></a>
        </div>
      </div>
      {{ page.primary_menu }}
      {# <ul class="lib-main-nav--list">
        <li class="main-nav--item"><a href="#">About</a></li>
        <li class="main-nav--item"><a href="#">Staff</a></li>
        <li class="main-nav--item"><a href="#">Resources</a></li>
        <li class="main-nav--item"><a href="#">Departments</a></li>
        <li class="main-nav--item"><a href="#">Forms</a></li>
      </ul> #}
    </div>
  </div>