{# <div>
  <div>{{ page.secondary_menu }}</div>
  <div>{{ page.primary_menu }}</div>
</div> #}

<header class="lib-header">
  <div class="lib-top-nav lib-px-3xl lib-bg-red-600">
    <div class="triangles"></div>
    <ul class="lib-top-nav--list">
      <li class="lib-text-white"><a href="#">Staff Directory</a></li>
      <li class="lib-text-white"><a href="#">Forms</a></li>
      <li class="lib-text-white"><a href="#">IT Support</a></li>
      <li class="lib-text-white"><a href="#">Search</a></li>
    </ul>
  </div>
  <div class="lib-main-nav--wrap lib-px-3xl">
    <div class="logo-wrap"><img src="/sites/default/files/ISU Library Logo_Left_red-500.png" alt="ISU Library Logo"></div>
    <ul class="lib-main-nav--list">
      <li class="lib-text-red-600"><a href="#">About</a></li>
      <li class="lib-text-red-600"><a href="#">Staff</a></li>
      <li class="lib-text-red-600"><a href="#">Resources</a></li>
      <li class="lib-text-red-600"><a href="#">Departments</a></li>
      <li class="lib-text-red-600"><a href="#">Forms</a></li>
    </ul>
  </div>
</header>